<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.BookingMapper">


    <insert id="insertBooking" parameterType="org.mybatis.Booking">
        INSERT INTO bookings
        (location_number, id_client, client, id_agency, agency, price, id_type, room, id_hotel, hotel, check_in,
         room_nights)
        VALUES (#{location_number}, #{id_client}, #{client}, #{id_agency}, #{agency}, #{price}, #{id_type}, #{room},
                #{id_hotel}, #{hotel}, #{check_in}, #{room_nights})
    </insert>

    <select id="getBookingById" resultType="org.mybatis.Booking" >
        SELECT *
        FROM bookings
        WHERE id = #{id}
    </select>

    <update id="updateBooking" parameterType="org.mybatis.Booking">
        UPDATE bookings
        SET location_number = #{location_number},
            id_client       = #{id_client},
            client          = #{client},
            id_agency       = #{id_agency},
            agency          = #{agency},
            price           = #{price},
            id_type         = #{id_type},
            room            = #{room},
            id_hotel        = #{id_hotel},
            hotel           = #{hotel},
            check_in        = #{check_in},
            room_nights     = #{room_nights}
        WHERE id = #{id}
    </update>

    <delete id="deleteAllBookings">
        DELETE
        FROM bookings
    </delete>


    <insert id="loadXmlData">
        <![CDATA[
        LOAD
        XML LOCAL INFILE '${xmlFile}' INTO TABLE bookings ROWS IDENTIFIED BY '<booking>';
        ]]>
    </insert>

    <update id="saveDataToCsv">
        SELECT *
        INTO OUTFILE #{csvFilePath}
    FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
        FROM bookings;
    </update>
</mapper>